.profileInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}
.description {
    padding: 10px 10px 10px 15px;
}

.bgImg {
    flex: 1;

}

.bgImg .img {
   /* width: 100%; !* Устанавливаем ширину изображения на 100% *!
    height: auto;*/ /* Автоматический расчет высоты для сохранения пропорций */

}

