#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
}
.header {
    background-color: gray;
    color: white;
    text-align: center;
    height: 50px;
}

.navbar {
    flex: 1;
    background-color: pink;
    max-width: 225px;
}

.content {
    height: calc(100% - 40px);
}

.footer {
    height: 40px;
    background-color: rgb(84, 237, 84);
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
}