#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.main {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
}*/

/*.content {
    height: calc(100% - 40px);
}*/

.contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

}
