.dialogs {
    display: flex;
    padding: 10px 10px 10px 15px;

}

.dialogsItem {

    flex: 1;
    background-color: #b9b405;
    padding: 10px 10px 10px 15px;
}

.dialogsItem .active {
    color: white;
    text-decoration: none;
}
.dialogs {

}

.dialog {
    color: rgba(232,232,238,0.96);
    text-decoration: none;
}
.messages {
    flex: 5;
    background-color: #fffa05;
    padding: 10px 10px 10px 15px;
}
.message {

}